@model IEnumerable<ChickenWinners.Models.Fixture>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditResults", new { id = item.Id })
            </td>
        </tr>
    }

</table>
